<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>Content</td>
        <td>创建时间</td>
        <td colspan="2"></td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "post_item", :collection => @posts, :as => :post %>
    </tbody>
  </table>
</div>
